@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/gotham/Gotham-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/gotham/Gotham-Book.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/gotham/Gotham-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/gotham/Gotham-Medium.woff2");
  font-weight: 500;
}

// Font weight numbers
// font-weight: 100; // thin
// font-weight: 200; // extra-light
// font-weight: 300; // light
// font-weight: 400; // normal
// font-weight: 500; // medium
// font-weight: 600; // semi-bold
// font-weight: 700; // bold
// font-weight: 800; // extra-bold
// font-weight: 900; // black
